/* first ul in section (not second level ul) */
section > ul {
    font-weight: bold;
}

/* second level ul */
section ul ul {
    font-weight: normal;
    list-style: disc;
    margin-left: 20px;
    cursor: pointer;
}

#info-block {
    margin-top: 1em;
    border-top: 1px solid gray;
}