@media (max-width: 900px) {
  header, main, footer, aside {
    width: 100%;
    margin-top: 0;
    padding: 20px;
  }
  section{
    border-bottom: 1px solid #000000;
  }
  main {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  #logo { 
    display: none;
  }
  header{ 
    height: 1.5em;
  }
}
